<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
    <div id="app">

        <h1>{{messagge}}</h1>

        <div class="container">
            <img id="foto" :src="percorso" :alt="percorso">
        </div>

        <input type="text" v-model="messagge">
        <input type="text" v-model="percorso">




    </div>
    <script src="./JS/script.js"></script>
</body>
</html>